.ball {
  position: fixed;
  z-index: 50;
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #00EEFF;
  box-shadow: inset -2px -2px 5px 0px #000;
}
.yellow {
  background-color: #FFFF5C;
}

.obj {
  position: absolute;
  z-index: 50;
  opacity:0.4;
  background-color: #0099FF;
  visibility: visible;
}
